.login-block {
  padding: 0 !important;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &__bg {
    @extend %img-cover;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: $radiusMd;
    z-index: -2;
  }
  &__row {
    display: flex;
  }
  &__col {
    &--content {
      @media (max-width: $sm) {
        display: none;
      }
    }
    &--form {
      @media (max-width: $sm) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  &__content {
    height: 100%;
    padding: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @media (max-width: $lg) {
      padding: 36rem var(--gap-fluid);
    }
    &--modal {
      .login-block__benefits {
        margin-right: var(--gap-fluid-);
      }
      .login-block__bg {
        right: -126rem;
      }
    }
  }
  &__benefits {
    &-row {
      margin: 0 -5rem;
      display: flex;
      @media (max-width: $lg) {
        flex-wrap: wrap;
      }
    }
    &-col {
      padding: 0 5rem;
      &--left {
        max-width: 57%;
        flex: 0 0 57%;
        @media (max-width: $lg) {
          max-width: 100%;
          margin-bottom: 10rem;
          flex-basis: 100%;
        }
      }
      &--right {
        flex-grow: 1;
      }
    }
    &-card {
      background: rgba($greyColor, .21);
      backdrop-filter: blur(22px);
      padding: 23rem 20rem 23rem 57rem;
      display: flex;
      align-items: center;
      border: 1px solid $blueLightColor;
      border-radius: $radiusSm;
      @media (max-width: $lg) {
        padding: 18rem;
      }
      &:not(:last-child) {
        margin-bottom: 10rem;
      }
      &:first-child:last-child {
        height: 100%;
      }
      &-picture {
        max-width: 25rem;
        margin-right: 15rem;
        flex: 0 0 25rem;
        @media (max-width: $lg) {
          margin-right: 10rem;
        }
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      &-title {
      }
      &-inner {
        margin-left: -37rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 1;
      }
      &-estimation {
        margin: 0 0 6rem;
        font-weight: bold;
      }
      &-rating {
        margin: 0 0 20rem;
        background-image: url('data:image/svg+xml,%3Csvg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7.50011 0L9.18397 5.18237H14.633L10.2246 8.38525L11.9085 13.5676L7.50011 10.3647L3.09172 13.5676L4.77558 8.38525L0.367188 5.18237H5.81626L7.50011 0Z" fill="%235886FF"/%3E%3C/svg%3E%0A') !important;
        transform: scale(1.4);
      }
      &-description {
      }
    }
  }
  &__title {
    margin: 0 0 15rem;
    font-weight: bold;
    color: $blackColor;
    text-align: center;
  }
  &__subtitle {
    max-width: 410rem;
    margin: 0 auto 35rem;
    text-align: center;
    &.is-forgot {
      max-width: 336rem;
    }
  }
  &__form {
    &-wrapper {
      background: $whiteColor;
      height: 100%;
      min-height: 578rem;
      padding: 50rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: $radiusMd;
      @media (max-width: $sm) {
        border-radius: $radiusSemi;
      }
      @media (max-width: $lg) {
        min-height: 0;
        padding: 30rem 15rem;
      }
    }
    &-input {
      margin: 0 0 5rem;
    }
    &-footer {
      margin: 20rem 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $sm) {
        margin-top: 15rem;
        flex-direction: column-reverse;
      }
      &-btn {
        @media (max-width: $sm) {
          width: 100%;
        }
      }
      &-aside {
        @media (max-width: $sm) {
          width: 100%;
          margin: 0 0 15rem;
        }
        &-forgot {
          font-weight: normal;
          @media (max-width: $sm) {
          }
        }
      }
    }
  }
  &__privacy {
    margin: 10rem 0 0;
    @media (max-width: $sm) {
      text-align: center;
    }
  }
  &__sc-auth {
    margin: 30rem 0 0;
    @media (max-width: $sm) {
      justify-content: center;
      text-align: center;
    }
  }
  &__router {
    margin: 30rem 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $sm) {
      justify-content: center;
      text-align: center;
    }
    &-title {
      margin: 0 20rem 0 0;
      flex-shrink: 0;
      font-weight: bold;
      @media (max-width: $sm) {
        max-width: 100%;
        margin: 0 0 4rem;
        flex-basis: 100%;
      }
    }
    &-btn {
      font-weight: bold;
    }
  }
}